<div class="card mb-4 shadow-sm">
  <svg #placeholder
       class="bd-placeholder-img card-img-top"
       width="100%"
       height="225"
       xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio="xMidYMid slice"
       focusable="false"
       role="img"
       aria-label="Placeholder: Loading">
    <title>Loading</title>
    <rect width="100%" height="100%" fill="#1AA0DF"></rect>
    <text x="50%" y="50%" fill="#eceeef" dy=".3em">&#x21bb;</text>
  </svg>
  <img src="https://loremflickr.com/320/225/travel,hotel&rand={{trip.id}}" (load)="hidePlaceholder()">
  <div class="card-body">
    <p class="card-text">
      {{trip.description}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" (click)="onBuy()">Buy</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
      </div>
      <small class="price">{{trip.price | currency}}</small>
    </div>
  </div>
</div>
