<div class="card mb-4 shadow-sm">
  <img src="https://source.unsplash.com/225x225/?hotel&rand={{signature}}">
  <div class="card-body">
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional content.
      This content is a little bit longer.
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" mod>Kup</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Szczegóły</button>
      </div>
      <small class="text-muted">od {{price | currency}}</small>
    </div>
  </div>
</div>
