<app-header></app-header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <app-search (search)="search($event)"></app-search>
    </div>
  </section>

  <div class="py-5">
    <div class="container">

      <div class="row">
        <div class="col-md-4" *ngFor="let trip of trips | async; trackBy: trackByTrip" @fadeIn>
          <app-trip [trip]="trip" (buy)="onBuy()"></app-trip>
        </div>

        <div class="col-md-12" *ngIf="!(trips | async)?.length">
          Enter search criteria above to explore the best places in the World!
        </div>
      </div>
    </div>
  </div>

</main>

<app-footer></app-footer>
